# the main thing (need to update)
Flask==0.12.5
# for password verification etc.
Flask-HTTPAuth==4.2.0
# for user session management (was 0.4)
Flask-Login==0.5.0
# for db migrations (when updating)
Flask-Migrate==2.5.3
# for easy creation of endpoints for RESTful apis
Flask-RESTful==0.3.8
# for creating custom scripts such as "generate fake users" and debugging
Flask-Script==2.0.6
# for working with SQL easily
Flask-SQLAlchemy==2.4.4
# for generating fakes
ForgeryPy3==0.3.1
# for serialization (should update to 3)
marshmallow==2.21.0
# a better server to run it locally
gunicorn==20.0.4
# Declarative parsing and validation of HTTP request objects (see @use_kwargs)
webargs==6.1.1
# distance calculation
haversine==2.3.0
# for rating calculation
trueskill==0.4.5
# for testing
pyresttest==1.7.1
# path extractor for pyresttest
jmespath==0.10.0

# most of the stuff here is probably not needed
#future==0.16.0
#alabaster==0.7.9
#appdirs==1.4.2
#bleach==1.5.0
#entrypoints==0.2.2
#httplib2==0.10.3
#imagesize==0.7.1
#jsonschema==2.6.0
#packaging==16.8
#pexpect==4.2.1
#pickleshare==0.7.4
#prompt-toolkit==1.0.13
#protobuf==3.2.0
#psycopg2==2.6.2
#ptyprocess==0.5.1
#pyasn1==0.2.3
#pyasn1-modules==0.0.8
#pycurl==7.43.0
#Pygments==2.2.0
#pyparsing==2.1.10
#PyYAML==3.12
#pyzmq==16.0.2
#requests==2.13.0
#rsa==3.4.2
#simplegeneric==0.8.1
#snowballstemmer==1.2.1
#Sphinx==1.5.3
#terminado==0.6
#testpath==0.3
#wcwidth==0.1.7
#webencodings==0.5
